doctype html
html
  head
    title Test Page
    script(type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      }); 
    script(type="text/javascript" src="../src/numeric-1.2.6.js")
    script(type="text/javascript" src="../src/jsfit.js")
    script(type="text/javascript" src="../components/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="../components/d3/d3.min.js")
    script(type="text/javascript" src="../components/nvd3/nv.d3.min.js")
    script(type="text/javascript" src="../components/angular/angular.js")
    script(type="text/javascript" src="../components/angular-ui-router/release/angular-ui-router.js")
    script(type="text/javascript" src="../components/angular-bootstrap/ui-bootstrap.js")
    script(type="text/javascript" src="../components/bootstrap/dist/js/bootstrap.js")
    script(src="test.js" type="text/javascript")
    link(rel="stylesheet" type="text/css" href="../components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="../components/nvd3/src/nv.d3.css")
    link(rel="stylesheet" type="text/css" href="./test.css")

  body(ng-app="app")
    nav.navbar.navbar-inverse(role="navigation")
      .container-fluid
        .navbar-header
          a(class="navbar-brand" href="#") JSMin
    .container-fluid
      div(ui-view)
       

    script(src="http://localhost:35729/livereload.js")