doctype html
html
  head
    title Test Page
    //- link(rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/tomorrow.min.css")
    script(src="http://yandex.st/highlightjs/8.0/highlight.min.js")
    script.
      hljs.initHighlightingOnLoad();

    script(type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
      MathJax.Hub.Configured();
 
    script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js")
    script(type="text/javascript" src="components/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="components/d3/d3.min.js")
    script(type="text/javascript" src="components/nvd3/nv.d3.min.js")
    script(type="text/javascript" src="components/angular/angular.min.js")
    script(type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.js")
    script(type="text/javascript" src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js")
    script(type="text/javascript" src="components/angular-bootstrap/ui-bootstrap.js")
    script(type="text/javascript" src="components/bootstrap/dist/js/bootstrap.js")
    script(type="text/javascript" src="src/jsfit.js")

    script(type="text/javascript" src="app/app.js")
    script(type="text/javascript" src="app/controllers.js")
    script(type="text/javascript" src="app/directives.js")
    link(rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="components/nvd3/src/nv.d3.css")
    link(rel="stylesheet" type="text/css" href="app/styles/app.css")
    //- link(rel="stylesheet" type="text/css" href="./styles/tomorrow-night-eighties.css")
    //- link(rel="stylesheet" type="text/css" href="./styles/tomorrow.css")

    link(rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/tomorrow.min.css")

  body(ng-app="app")
    nav.navbar.navbar-inverse(role="navigation")
      .container-fluid
        .navbar-header
          a(class="navbar-brand" href="#") JSMin
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href="" data-toggle="dropdown") Examples
              ul.dropdown-menu
                li
                  a(ui-sref="examples.example1") Exponential
                li 
                  a(ui-sref="examples.example2") Sine wave with fixed amplitude
                li 
                  a(ui-sref="examples.interactive") Interactive fitting
            li
              a(ui-sref="readme") Read Me

    .container-fluid
      div(ui-view)
       

    script(src="http://localhost:35729/livereload.js")