
<div class="row-fluid">
  <div class="col-md-12">
    <div class="row-fluid"></div>
    <h3 mathjax="mathjax">Sinusoidal with fixed amplitude $ f(t) = C + A \cdot \sin({\omega \cdot t}) $</h3>
    <div class="row-fluid">
      <h4>Initial Parameters</h4>
      <form name="chart1Params" class="form-inline">
        <div ng-repeat="par in p0" class="form-group">
          <label>{{parInfo[$index].name}}</label>
          <input type="number" ng-model="par.value" step="any" ng-blur="fit()" class="form-control"/>
        </div>
        <button ng-click="fit()" class="btn btn-info">Fit</button>
      </form>
      <h4>Final Best Fit Parameters</h4>
      <form name="chart1FinalParams" class="form-inline">
        <div ng-repeat="par in fitobj.params" class="form-group">
          <label>{{parInfo[$index].name}}</label>
          <input type="number" disabled="disabled" ng-model="fitobj.params[$index]" class="form-control"/>
        </div>
      </form>
      <ul class="list-inline">
        <li>
          <h4>Elasped time </h4><span>{{fitobj.time}} ms</span>
        </li>
        <li>
          <h4>Iterations</h4><span>{{fitobj.iterations}}</span>
        </li>
        <li>
          <h4>Parameter Errors</h4><span>{{fitobj.parameterErrors}}</span>
        </li>
        <li>
          <h4 mathjax="mathjax">$\chi^2_{red}$</h4><span>{{fitobj.chi2red}}</span>
        </li>
      </ul>
      <div id="chart2" class="chart">
        <svg></svg>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>xval</th>
            <th>yval</th>
            <th>weight</th>
          </tr>
        </thead>
        <tr ng-repeat="d in xvals">
          <td>{{xvals[$index]}}</td>
          <td>{{yvals[$index]}}</td>
          <td>{{weights[$index]}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>