.row-fluid
  .col-md-12
    .row-fluid 
    h3(mathjax) Sinusoidal with fixed amplitude $ f(t) = C + A \cdot \sin({\omega \cdot t}) $
    .row-fluid
      h4 Initial Parameters
      form.form-inline(name="chart1Params")
        .form-group(ng-repeat = "par in p0")
          label {{parInfo[$index].name}}
          input.form-control(type="number", ng-model="par.value", step="any", ng-blur="fit()")
        button.btn.btn-info(ng-click="fit()") Fit
      h4 Final Best Fit Parameters
      form.form-inline(name="chart1FinalParams")
        .form-group(ng-repeat = "par in fitobj.params")
          label {{parInfo[$index].name}}
          input.form-control(type="number", disabled, ng-model="fitobj.params[$index]")
      ul.list-inline
        li
          h4 Elasped time 
          span {{fitobj.time}} ms
        li
          h4 Iterations
          span {{fitobj.iterations}}
        li
          h4 Parameter Errors
          span {{fitobj.parameterErrors}}
        li
          h4(mathjax) $\chi^2_{red}$
          span {{fitobj.chi2red}}
      div.chart(id="chart2")
        svg
      table.table
        thead
          tr
            th xval
            th yval
            th weight
        tr(ng-repeat = "d in xvals")
          td {{xvals[$index]}}
          td {{yvals[$index]}}
          td {{weights[$index]}}