
<div class="row-fluid">
  <div class="col-md-12">
    <div class="row-fluid">
      <div class="col-md-6">
        <h3>Trilateration</h3>
        <div hljs="hljs">
          function model (x, params) {
            r = Math.sqrt( Math.pow((x[0] - params[0]), 2) + 
                           Math.pow((x[1] - params[1]), 2) + 
                          );
            return r; 
          }
          
          xvals = [
            [1, 0],
            [0, 2], 
            [3, 4], 
          ];
          yvals = [1, 2, 5];
          data = [xvals, yvals];
          //initial guess at parameters
          par0 = [0.5, 0.5, 0.5];
          
          fitobj  = jsfit.fit(model, data, par0);
          console.log(fitobj.params)
          //returns [0,0]
        </div>
      </div>
    </div>
  </div>
</div>