.row-fluid
  .col-md-12
    .row
      .col-md-12
        h3 Trilateration
        div(hljs).
          function model (x, params) {
            r = Math.sqrt( Math.pow((x[0] - params[0]), 2) + 
                           Math.pow((x[1] - params[1]), 2) + 
                          );
            return r; 
          }

          yvals = [515.9089066879927 ,
           272.7673000929547,
           474.09070862019644,
           350.202798389733,
           440.9104217411968,
           262.60616900598507,
           51.40038910358559,
           152.190669884852];

          xvals = [ [10, 10],
           [480, 10],
           [10, 460],
           [240, 0],
           [10, 240],
           [240, 440],
           [480, 240],
           [480,430]];

          data = [xvals, yvals];

          // picking good starting parameters is important
          // guess the mean of the xvals perhaps
          par0 = [numeric.sum(xvals.map(function(d) {return d[0]})) / xvals.length,
                  numeric.sum(xvals.map(function(d) {return d[1]})) / xvals.length];

          fitobj  = jsfit.fit(model, data, par0, {'debug': true });
          console.log(fitobj.params) 
          [449.0000046618936, 281.0000033291429]
    //- .row
    //-   .col-md-12
    //-     h3 Image analysis
    //-     canvas(id="viewport")
